body {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

#logo {
    width: 64px;
    height: 64px;
}

#typeSelectorBar {
    /*Determine size*/
    width: 100vw;
    height: 64px;

    /*Determine layout*/
    display: flex;
    flex-direction: row;

    font-size: 32px;
}

.SelectorBarItem {
    /*Size of the selector bar items*/
    width: 128px;
    height: 64px;

    /*Align text to center*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#converterContainer {
    width: 1280px;
    height: 720px;

    background-color: red;
}

#distconverter {
    width: 1280px;
    height: 720px;

    display: flex;
    flex-direction: row;
}

.input-container, .output-container{
    width: 640px;
    height: 720px;

    display: flex;
    justify-content: center;
    align-items: center;
}